<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.enforce_ssl %}
  <script type="text/javascript">
    var host = "{{ site.enforce_ssl }}";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  {% endif %}
  <link rel="preload" href="{{ '/assets/fonts/Aileron-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/css/landing.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/interior.css' | relative_url }}">
  {%- seo -%}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/favicon.png">
  {%- feed_meta -%}
  
  <script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>
  {% if page.layout == 'indexpage' %}
  <script type="module" src="{{ '/assets/js/hero-loader.js' | relative_url }}"></script>
  <script type="module" src="{{ '/assets/js/product-models.js' | relative_url }}"></script>
  {% endif %}
</head>
