---
layout: default
---
<div class="contact-container">
  <div class="contact-card">
    <h1>{{ page.title }}</h1>
    <dl class="contact-info">
      <div class="info-item">
        <dt>Owner</dt>
        <dd>P. Mohandas</dd>
      </div>
      <div class="info-item">
        <dt>Email</dt>
        <dd><a href="mailto:mohan@navakapumps.com">mohan@navakapumps.com</a></dd>
      </div>
      <div class="info-item">
        <dt>Phone</dt>
        <dd><a href="tel:+919831153177">+91 9831153177</a></dd>
      </div>
      <div class="info-item">
        <dt>Location</dt>
        <dd>Coimbatore, India</dd>
      </div>
    </dl>
  </div>
</div>
